Repository easyops-cn/simple-user-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): run `yarn`, which creates yarn.lock file
  yarn.lock
Due: none

chore(): create a new package of micro-apps by `yarn yo`
  micro-apps/faker-demo/README.md
  micro-apps/faker-demo/deploy-default/package.conf.yaml
  micro-apps/faker-demo/package.json
  micro-apps/faker-demo/scripts/generate-version-file.js
  micro-apps/faker-demo/scripts/post-build.js
  micro-apps/faker-demo/scripts/rename-tar-package.js
  micro-apps/faker-demo/storyboard.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): the homepage, `hello-world` demo
  micro-apps/faker-demo/storyboard.json
  yarn.lock
Due: prettier --write

fix(): use `micro-view` layout
  micro-apps/faker-demo/storyboard.json
Due: prettier --write

chore(): `yarn yo` to create user-admin package and user-admin brick
  bricks/user-admin/README.md
  bricks/user-admin/deploy/package.conf.yaml
  bricks/user-admin/package.json
  bricks/user-admin/scripts/generate-version-file.js
  bricks/user-admin/scripts/post-build.js
  bricks/user-admin/scripts/rename-tar-package.js
  bricks/user-admin/src/i18n/constants.ts
  bricks/user-admin/src/i18n/index.ts
  bricks/user-admin/src/i18n/locales/en.ts
  bricks/user-admin/src/i18n/locales/zh.ts
  bricks/user-admin/src/index.spec.ts
  bricks/user-admin/src/index.ts
  bricks/user-admin/src/user-admin/UserAdmin.spec.tsx
  bricks/user-admin/src/user-admin/UserAdmin.tsx
  bricks/user-admin/src/user-admin/index.spec.ts
  bricks/user-admin/src/user-admin/index.tsx
  bricks/user-admin/tsconfig.json
  bricks/user-admin/webpack.config.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): display user-admin brick
  micro-apps/faker-demo/storyboard.json
Due: prettier --write

chore(): `yarn yo` to create a custom provider brick
  bricks/user-admin/src/data-providers/UserList.spec.ts
  bricks/user-admin/src/data-providers/UserList.ts
  bricks/user-admin/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): request user list and display it
  bricks/user-admin/src/data-providers/UserList.spec.ts
  bricks/user-admin/src/data-providers/UserList.ts
  micro-apps/faker-demo/storyboard.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): create form page
  micro-apps/faker-demo/storyboard.json
Due: prettier --write

chore(): `yarn yo` to create a custom provider brick, `provider-create-user`
  bricks/user-admin/src/data-providers/CreateUser.spec.ts
  bricks/user-admin/src/data-providers/CreateUser.ts
  bricks/user-admin/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/dompurify to ^2.0.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/echarts to ^4.4.3
  package.json
  yarn.lock
Due: prettier --write

feat(): display form and create user
  bricks/user-admin/src/data-providers/CreateUser.spec.ts
  bricks/user-admin/src/data-providers/CreateUser.ts
  micro-apps/faker-demo/storyboard.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): allow cors policy server
  server.py
Due: none

chore(): rename to `user-admin`
  README.md
  micro-apps/user-admin/README.md
  micro-apps/user-admin/deploy-default/package.conf.yaml
  micro-apps/user-admin/package.json
  micro-apps/user-admin/scripts/generate-version-file.js
  micro-apps/user-admin/scripts/post-build.js
  micro-apps/user-admin/scripts/rename-tar-package.js
  micro-apps/user-admin/storyboard.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update git url
  bricks/user-admin/package.json
  micro-apps/user-admin/package.json
Due: prettier --write

docs(): run the CORS server
  README.md
  server.py
Due: prettier --write

feat(): add sidebarMenu and breadcrumb in `menu`
  micro-apps/user-admin/storyboard.json
Due: prettier --write

feat(): `brick-value-mapping` to display user status
  micro-apps/user-admin/storyboard.json
  server.py
Due: prettier --write

chore(deps): Update dependency @types/history to ^4.7.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/lodash to ^4.14.149
  package.json
  yarn.lock
Due: prettier --write

chore(): IMPORTANT, to make build success!
  micro-apps/user-admin/package.json
  micro-apps/user-admin/storyboard.json
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react-dom to ^16.9.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react-test-renderer to ^16.9.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react-transition-group to ^4.2.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency enzyme to ^3.11.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency enzyme-adapter-react-16 to ^1.15.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency enzyme-to-json to ^3.4.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint to ^6.8.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lerna to ^3.20.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lolex to ^5.1.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rimraf to ^3.0.2
  package.json
  yarn.lock
Due: prettier --write

fix(): set age field width
  README.md
  micro-apps/user-admin/storyboard.json
Due: prettier --write

chore(): rename package name
  package.json
Due: prettier --write

chore(deps): Update dependency @testing-library/react to ^9.5.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @babel/core to ^7.8.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react to ^7.19.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript to ~3.8.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/classnames to ^2.2.10
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
