Repository easyops-cn/simple-user-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write",
    "git add"
  ],
  "*.css": [
    "prettier --write",
    "git add"
  ],
  "*.html": [
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ],
  "*.json": [
    "prettier --write",
    "git add"
  ]
}

chore(deps): Update dependency @types/react-transition-group to ^4.2.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rimraf to ^3.0.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/classnames to ^2.2.10
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.9.26
  package.json
  yarn.lock
Due: prettier --write

chore(): update by `create-next-repo`, close #28
  .gitignore
  .lintstagedrc
  README.md
  bricks/user-admin/deploy-default/package.conf.yaml
  bricks/user-admin/package.json
  micro-apps/user-admin/package.json
  package.json
  renovate.json
  scripts/sync-dll.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @easyops/dev-dependencies to ^0.5.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @easyops/dev-dependencies to ^0.5.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @easyops/dev-dependencies to ^0.5.8
  package.json
  yarn.lock
Due: prettier --write

feat(): how to new custom provider, proxy by `api_gateway`
  README.md
  bricks/user-admin/src/data-providers/FakerList.spec.ts
  bricks/user-admin/src/data-providers/FakerList.ts
  bricks/user-admin/src/index.ts
  micro-apps/user-admin/storyboard.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): test and update deps
  bricks/user-admin/src/data-providers/FakerList.spec.ts
  micro-apps/user-admin/package.json
  package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

docs(): refine, how to register ens
  README.md
Due: prettier --write

docs(): refine ens
  README.md
Due: prettier --write

chore(deps): Update next-core packages
  package.json
  yarn.lock
Due: prettier --write

chore(): transform a micro-app from `json` to `ts` using `yarn yo`
  micro-apps/user-admin/.gitignore
  micro-apps/user-admin/package.json
  micro-apps/user-admin/scripts/build.js
  micro-apps/user-admin/src/index.ts
  micro-apps/user-admin/storyboard.json
  micro-apps/user-admin/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): init `ticking-time`, generated by `yarn yo`
  bricks/user-admin/src/index.ts
  bricks/user-admin/src/ticking-time/TickingTime.spec.tsx
  bricks/user-admin/src/ticking-time/TickingTime.tsx
  bricks/user-admin/src/ticking-time/index.spec.ts
  bricks/user-admin/src/ticking-time/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(ticking-time): a demo of new custom brick
  bricks/user-admin/src/ticking-time/TickingTime.spec.tsx
  bricks/user-admin/src/ticking-time/TickingTime.tsx
  bricks/user-admin/src/ticking-time/index.tsx
  micro-apps/user-admin/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): demo of permission validation
  README.md
  bricks/user-admin/src/data-providers/UserList.ts
  micro-apps/user-admin/src/index.ts
  server.py
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @easyops/dev-dependencies to ^0.6.9
  package.json
  yarn.lock
Due: prettier --write

chore(user_contract): add user contract
  .gitignore
  .vscode/settings.json
  contract-center/.easyops.yml
  contract-center/CONTRIBUTING.md
  contract-center/README.md
  contract-center/easyops/api/user_admin/user/create.yaml
  contract-center/easyops/api/user_admin/user/delete.yaml
  contract-center/easyops/api/user_admin/user/get.yaml
  contract-center/easyops/api/user_admin/user/list.yaml
  contract-center/easyops/api/user_admin/user/update.yaml
  contract-center/easyops/model/user/user.yaml
  contract-center/easyops/type/datetime.yaml
  contract-center/easyops/type/user_name.yaml
  contract-center/schema/brick.json
  contract-center/schema/fields.json
  contract-center/schema/interface.json
  contract-center/schema/model.json
  contract-center/schema/type.json
Due: prettier --write

Delete .easyops.yml
  contract-center/.easyops.yml
Due: none

Update README.md
  contract-center/README.md
Due: prettier --write

Revert "chore(user_contract): add user contract"
  .gitignore
  .vscode/settings.json
  contract-center/CONTRIBUTING.md
  contract-center/README.md
  contract-center/easyops/api/user_admin/user/create.yaml
  contract-center/easyops/api/user_admin/user/delete.yaml
  contract-center/easyops/api/user_admin/user/get.yaml
  contract-center/easyops/api/user_admin/user/list.yaml
  contract-center/easyops/api/user_admin/user/update.yaml
  contract-center/easyops/model/user/user.yaml
  contract-center/easyops/type/datetime.yaml
  contract-center/easyops/type/user_name.yaml
  contract-center/schema/brick.json
  contract-center/schema/fields.json
  contract-center/schema/interface.json
  contract-center/schema/model.json
  contract-center/schema/type.json
Due: prettier --write

feat(): generate sdk and provider brick refs BRICK_STORE-1434
  .easyops-yo.json
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

chore(): update devDeps for generate sdk && provider
  .easyops-yo.json
  package.json
  yarn.lock
Due: prettier --write

chore(docs): update readme.md
  README.md
Due: prettier --write
